

@media screen and (min-width: 641px) and (max-width: 768px) {

  /*header*/
  header {
    width: 100vw;
    z-index: 1000;
  }

  header .gnbVehicles .subDetail {
    display: none;
  }

  header .gnb .gnbPurchase>.sub,
  header .gnb .gnbOwnership>.sub,
  header .gnb .gnbExplode>.sub {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  header .gnb .gnbPurchase>.sub>li,
  header .gnb .gnbOwnership>.sub>li,
  header .gnb .gnbExplode>.sub>li {
    height: 230px;
    font-size: 15px;
    line-height: 15px;
    margin-bottom: 10px;
  }

  header .gnb .gnbPurchase>.sub>li>ul>li>a,
  header .gnb .gnbOwnership>.sub>li>ul>li>a,
  header .gnb .gnbExplode>.sub>li>ul>li>a {
    margin-top: 10px;
    line-height: 18px;
    font-size: 11px;
    font-weight: 400;
    padding-right: 0;
    box-sizing: border-box;
  }

  header .gnb .gnbPurchase>.sub>li.subIconList,
  header .gnb .gnbOwnership>.sub>li.subIconList,
  header .gnb .gnbExplode>.sub>li.subIconList {
    width: 98%;
  }

  header .gnb .gnbPurchase>.sub>li.subImgList,
  header .gnb .gnbOwnership>.sub>li.subImgList,
  header .gnb .gnbExplode>.sub>li.subImgList {
    width: 100%;
    display: block;
  }

  header .subImgList li {
    width: 167px;
    margin-right: 20px;
  }

  header .subImgList li span {
    line-height: 1.3;
    font-size: 12px;
  }

  header .tnb li {
    display: none;
  }

  /*mainVisual*/
  .mainVisual {
    width: 100vw;
    height: 600px;
    overflow: hidden;
  }

  .mainVisual .mainBtn .aniBtn {
    bottom: 40px;
    left: 30px;
  }

  .mainVisual .mainBtn .pageBtn {
    bottom: 50px;
    left: 90px;
  }

  .mainVisual .mainBtn .btn02 {
    left: 120px;
  }

  .mainVisual .mainBtn .btn03 {
    left: 150px;
  }

  .mainVisual .mainBtn .btn04 {
    left: 180px;
  }

  .mainVisual .mainSilde {
    top: 50px;
  }

  .mainVisual .mainSilde img {
    height: auto;
  }

  /*common*/
  .inner {
    width: 95%;
    padding: 0;
  }

  .inner strong {
    margin: 10px 0;
  }

  .inner div p {
    margin-bottom: 15px;
  }

  .inner .TextA {
    margin: 10px 0 0 0;
  }

  /*connected*/
  .connected .inner {
    height: 210px;
  }

  .connected .inner .arrow {
    display: block;
    width: 40px;
    height: 100%;
    line-height: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: #666;
    background: #fff;
    cursor: pointer;
    z-index: 500;
  }

  .connected .inner .arrowRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .connected .inner .arrowLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  .connected .inner .arrow>i {
    font-size: 25px;
  }

  .connected .inner .snsGroup {
    width: 90%;
    height: 100%;
  }

  .connected .inner .sns {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 100%;
    margin-right: 0;
  }

  .connected .inner .sns video {
    width: auto;
    height: 100%;
  }

  .connected .inner .sns img {
    width: 100%;
    height: 100%;
  }

  .connected .inner .sns i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
  }

  /*families*/
  .families .inner div {
    float: left;
    width: 32%;
    margin-right: 14px;
    margin-bottom: 80px;
  }

  /*vehicles*/
  .vehicles {
    margin: 0;
  }

  .vehicles .vehiModel {
    width: 32%;
    margin-right: 14px;
  }

  .vehicles .vehiModel:nth-child(4),
  .vehicles .vehiModel:nth-child(8) {
    margin-right: 15px;
  }

  .vehicles .vehiModel:nth-child(3),
  .vehicles .vehiModel:nth-child(6) {
    margin-right: 0;
  }

  .vehicles .vehiModel p {
    margin-bottom: 20px;
  }

  /*explore*/
  .explore .exDetail {
    width: 355px;
    margin-right: 19px;
    padding-bottom: 80px;
  }

  .explore .exDetail:nth-child(2),
  .explore .exDetail:nth-child(4) {
    margin-right: 0;
  }

  .explore .exDetail p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-bottom: 25px;
  }

  /*find*/
  .find {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../_img/find.jpg) no-repeat right / cover;
  }

  .find .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 500px;
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
  }

  .find .text h2 {
    line-height: 0.8;
    font-size: 40px;
    color: #222;
    margin-bottom: 20px;
  }

  .find .text a {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px 10px 40px;
    background: #222;
    border: 1px solid #222;
    font-size: 13px;
    color: #fff;
    box-sizing: border-box;
  }

  .find .text a:after {
    position: absolute;
    top: 47%;
    left: 15px;
    transform: translateY(-50%);
    display: block;
    content: '\f3c5';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 15px;
  }

  .find .text a:hover {
    background: #444;
    border-color: #fff;
  }

  /*build*/
  .build .inner .buildList {
    width: 50%;
    height: 200px;
    margin: 50px auto 0;
    padding: 0;
  }

  .build .inner .buildList strong {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .build .inner .buildList a {
    margin-bottom: 10px;
    font-size: 17px;
  }

  /*iconArea*/
  .iconArea .inner {
    margin: 50px 25px;
  }

  .iconArea .inner .iconList {
    float: left;
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
  }

  .iconArea .inner .iconList:hover {
    border-color: #005a2b;
  }

  /*footer*/
  footer p {
    font-size: 12px;
  }

  .footYear {
    display: none;
  }

  .footMenu {
    padding: 50px 0 0;
  }

  .footMenu .inner>ul>li {
    width: 33.3333%;
    height: 400px;
    padding: 10px;
  }

  .footMenu .inner .sns a span {
    width: 40px;
    height: 40px;
    padding: 10px 8px;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 0;
  }

  .footMenu .inner .sns a p {
    position: absolute;
    top: 60%;
    left: 55px;
    transform: translateY(-50%);
  }

  .footMenu .inner .sns i {
    font-size: 20px;
  }

  .footInter .inner ul li a {
    margin-left: 15px;
    font-size: 13px;
  }

  .footInter .inner .international img {
    display: none;
  }
}


@media screen and (min-width: 769px) and (max-width: 1024px) {

  /*header*/
  header {
    width: 100vw;
    z-index: 1000;
  }

  header .gnb .gnbPurchase>.sub,
  header .gnb .gnbOwnership>.sub,
  header .gnb .gnbExplode>.sub {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }

  header .gnb .gnbPurchase>.sub>li,
  header .gnb .gnbOwnership>.sub>li,
  header .gnb .gnbExplode>.sub>li {
    height: 250px;
    font-size: 16px;
    line-height: 20px;
  }

  header .gnb .gnbPurchase>.sub>li>ul>li>a,
  header .gnb .gnbOwnership>.sub>li>ul>li>a,
  header .gnb .gnbExplode>.sub>li>ul>li>a {
    line-height: 20px;
    font-size: 13px;
    margin-top: 10px;
  }

  header .gnb .gnbPurchase>.sub>li.subIconList,
  header .gnb .gnbOwnership>.sub>li.subIconList,
  header .gnb .gnbExplode>.sub>li.subIconList {
    width: 100%;
  }

  header .gnb .gnbPurchase>.sub>li.subImgList,
  header .gnb .gnbOwnership>.sub>li.subImgList,
  header .gnb .gnbExplode>.sub>li.subImgList {
    width: 100%;
    display: block;
  }

  header .subImgList li {
    width: 230px;
    margin-right: 20px;
  }

  header .subImgList li span {
    line-height: 1.3;
    font-size: 14px;
  }

  /*mainVisual*/
  .mainVisual {
    width: 100vw;
    height: 600px;
    overflow: hidden;
  }

  .mainVisual .mainBtn .aniBtn {
    bottom: 40px;
    left: 30px;
  }

  .mainVisual .mainBtn .pageBtn {
    bottom: 50px;
    left: 90px;
  }

  .mainVisual .mainBtn .btn02 {
    left: 120px;
  }

  .mainVisual .mainBtn .btn03 {
    left: 150px;
  }

  .mainVisual .mainBtn .btn04 {
    left: 180px;
  }

  .mainVisual .mainSilde {
    top: 50px;
  }

  .mainVisual .mainSilde img {
    height: auto;
  }

  /*common*/
  .inner {
    width: 95%;
    padding: 0;
  }

  .inner strong {
    margin: 10px 0;
  }

  .inner div p {
    margin-bottom: 15px;
  }

  .inner .TextA {
    margin: 10px 0 0 0;
  }

  /*connected*/
  .connected .inner {
    height: 210px;
  }

  .connected .inner .arrow {
    display: block;
    width: 40px;
    height: 100%;
    line-height: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: #666;
    background: #fff;
    cursor: pointer;
    z-index: 500;
  }

  .connected .inner .arrowRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .connected .inner .arrowLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  .connected .inner .arrow>i {
    font-size: 25px;
  }

  .connected .inner .snsGroup {
    width: 90%;
    height: 100%;
  }

  .connected .inner .sns {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    width: 150px;
    height: 100%;
    margin-right: 0;
  }

  .connected .inner .sns video {
    width: auto;
    height: 100%;
  }

  .connected .inner .sns img {
    width: 100%;
    height: 100%;
  }

  .connected .inner .sns i {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
  }

  /*families*/
  .families .inner div {
    float: left;
    width: 32%;
    margin-right: 19px;
    margin-bottom: 80px;
  }

  /*vehicles*/
  .vehicles {
    margin: 0;
  }

  .vehicles .vehiModel {
    width: 32%;
    margin-right: 15px;
  }

  .vehicles .vehiModel:nth-child(4),
  .vehicles .vehiModel:nth-child(8) {
    margin-right: 15px;
  }

  .vehicles .vehiModel:nth-child(3),
  .vehicles .vehiModel:nth-child(6) {
    margin-right: 0;
  }

  .vehicles .vehiModel p {
    margin-bottom: 20px;
  }

  /*explore*/
  .explore .exDetail {
    width: 470px;
    margin-right: 30px;
    padding-bottom: 80px;
  }

  .explore .exDetail:nth-child(2),
  .explore .exDetail:nth-child(4) {
    margin-right: 0;
  }

  .explore .exDetail p {
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    margin-bottom: 25px;
  }

  /*find*/
  .find {
    position: relative;
    width: 100%;
    height: 400px;
    background: url(../_img/find.jpg) no-repeat right / cover;
  }

  .find .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    width: 500px;
    padding: 30px;
    text-align: center;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
  }

  .find .text h2 {
    line-height: 0.8;
    font-size: 40px;
    color: #222;
    margin-bottom: 20px;
  }

  .find .text a {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px 10px 40px;
    background: #222;
    border: 1px solid #222;
    font-size: 13px;
    color: #fff;
    box-sizing: border-box;
  }

  .find .text a:after {
    position: absolute;
    top: 47%;
    left: 15px;
    transform: translateY(-50%);
    display: block;
    content: '\f3c5';
    font-family: 'Font Awesome 5 Free';
    font-weight: 600;
    font-size: 15px;
  }

  .find .text a:hover {
    background: #444;
    border-color: #fff;
  }

  /*build*/
  .build .inner .buildList {
    width: 50%;
    height: 200px;
    margin: 50px auto 0;
    padding: 0;
  }

  .build .inner .buildList strong {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .build .inner .buildList a {
    margin-bottom: 10px;
    font-size: 17px;
  }

  /*iconArea*/
  .iconArea .inner {
    margin: 50px 25px;
  }

  .iconArea .inner .iconList {
    float: left;
    width: 50%;
    height: 200px;
    padding: 20px;
    margin: 0 auto;
    border: 1px solid #ccc;
  }

  .iconArea .inner .iconList:hover {
    border-color: #005a2b;
  }

  /*footer*/
  footer p {
    font-size: 12px;
  }

  .footYear {
    display: none;
  }

  .footMenu {
    padding: 50px 0 0;
  }

  .footMenu .inner>ul>li {
    width: 33.3333%;
    height: 400px;
    padding: 10px;
  }

  .footMenu .inner .sns a span {
    width: 40px;
    height: 40px;
    padding: 10px 8px;
    margin-top: 10px;
    margin-right: 10px;
    line-height: 0;
  }

  .footMenu .inner .sns a p {
    position: absolute;
    top: 60%;
    left: 55px;
    transform: translateY(-50%);
  }

  .footMenu .inner .sns i {
    font-size: 20px;
  }

  .footInter .inner ul li a {
    margin-left: 15px;
    font-size: 13px;
  }

  .footInter .inner .international img {
    display: none;
  }
}


@media screen and (max-width: 640px) {

  /*fixMore*/
  .fixMore .moreBtn {
    top: 92%;
    right: 4%;
    width: 40px;
    height: 40px;
    z-index: 1000;
  }

  .fixMore .fixList {
    top: 65%;
    width: 250px;
    padding: 10px 20px 100px;
  }

  /*header*/
  header {
    position: fixed;
    width: 100vw;
    height: 50px;
  }

  header .logo {
    float: none;
    width: 100%;
    height: 100%;
    padding: 6px;
    border-bottom: 2px solid #ccc;
  }

  header .logo>a {
    width: 70px;
    height: 100%;
    margin: 0 auto;
  }

  header .mobMenu {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    transform: translateY(-50%);
    padding: 18px 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    box-sizing: border-box;
  }

  header .mobMenu:hover {
    background: #ebebeb;
    border-bottom: 2px solid #ccc;
  }

  header .mobTnb {
    display: block;
    position: absolute;
    top: 50%;
    right: 5%;
    font-size: 18px;
    transform: translateY(-50%);
    z-index: 1000;
  }

  header .mobClose {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    height: 100%;
    transform: translateY(-50%);
    padding: 18px 10px;
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
    box-sizing: border-box;
    display: none;
  }

  header .gnb {
    position: relative;
    height: 100vh;
    background: #fff;
    display: none;
  }

  header .gnb>li {
    float: none;
    height: 50px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
    z-index: -1;
  }

  header .gnb>li>a {
    padding-left: 0;
    line-height: 50px;
  }

  header .gnb>li:hover {
    background: #eee;
    color: #005a2b;
    text-decoration: underline;
  }

  header .gnb .sub {
    display: none;
    height: auto;
  }

  header .tnb {
    display: none;
  }

  /*mainVisual*/
  .mainVisual {
    position: relative;
    top: 50px;
    width: 100%;
    height: 500px;
    background: #fff;
    overflow: hidden;
    box-sizing: content-box;
  }

  .mainVisual .mainBtn .aniBtn {
    bottom: 13px;
    left: 10px;
    width: 35px;
    height: 35px;
    line-height: 26px;
    font-size: 26px;
    box-shadow: 0 0 2px #333;
    text-shadow: 0 0 2px #333;
    color: #666;
  }

  .mainVisual .mainBtn .startBtn:before {
    top: -2px;
    left: -2px;
    width: 35px;
    height: 35px;
    border: 2px solid #999;
    border-top-color: #005a2b;
    border-right-color: #005a2b;
    border-bottom-color: #005a2b;
  }

  .mainVisual .mainBtn .pauseBtn {
    font-size: 24px;
    padding-left: 7px;
  }

  .mainVisual .mainBtn .pauseBtn:before {
    top: -2px;
    left: -2px;
    width: 35px;
    height: 35px;
    border: 2px solid #777;
  }

  .mainVisual .mainBtn .pageBtn {
    bottom: 20px;
    left: 60px;
    width: 12px;
    height: 12px;
    background: #fff;
    border-color: #999;
    box-shadow: 0 0 2px #999;
  }

  .mainVisual .mainBtn .btn02 {
    left: 85px;
  }

  .mainVisual .mainBtn .btn03 {
    left: 110px;
  }

  .mainVisual .mainBtn .btn04 {
    left: 135px;
  }

  .mainVisual .mainBtn a:hover,
  .mainVisual .mainBtn .pauseBtn:hover:before,
  .mainVisual .mainBtn .pauseBtn:hover:before {
    background: rgba(255, 255, 255, 0.1);
    text-shadow: none;
    border-color: #222;
  }

  .mainVisual .mainSilde {
    width: 100%;
    height: auto;
  }

  .mainVisual .mainSilde img {
    width: 100%;
    height: 100%;
  }

  .mainVisual .mainSilde .text {
    position: relative;
    top: 0;
    left: 0;
    transform: translateY(0);
    width: 100%;
    height: 100%;
    text-align: center;
  }

  .mainVisual .mainSilde .text>h2 {
    line-height: 26px;
    font-size: 24px;
  }

  .mainVisual .mainSilde .text>p {
    width: 100%;
  }

  /*common*/
  section>h2 {
    padding-top: 60px;
    margin-bottom: 30px;
    font-size: 30px;
  }

  section>p {
    padding-bottom: 60px;
    font-size: 13px;
    line-height: 1.5;
  }

  .inner {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  .inner strong {
    font-size: 18px;
  }

  /*from*/
  .from {
    width: 100%;
    background: #ebebeb;
    padding: 40px 30px 0;
    box-sizing: border-box;
  }

  /*connected*/
  .connected .inner {
    position: relative;
    height: 150px;
  }

  .connected .inner .arrow {
    display: block;
    width: 30px;
    height: 150px;
    line-height: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    color: #666;
    background: #fff;
    cursor: pointer;
    z-index: 500;
  }

  .connected .inner .arrowRight {
    position: absolute;
    top: 0;
    right: 0;
  }

  .connected .inner .arrowLeft {
    position: absolute;
    top: 0;
    left: 0;
  }

  .connected .inner .arrow>i {
    font-size: 20px;
  }

  .connected .inner .snsGroup {
    width: 85%;
  }

  .connected .inner .sns {
    float: left;
    display: block;
    position: relative;
    overflow: hidden;
    float: left;
    height: 150px;
    margin: 0 auto;
    margin-right: 0;
    background: #222;
  }

  .connected .inner .sns:last-child {
    margin-right: 0;
  }

  .connected .inner .sns video {
    width: 100%;
    height: 100%;
    background: #222;
  }

  .connected .inner .sns img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 100%;
  }

  .connected .inner .sns i {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 15px;
    color: #fff;
  }

  /*families*/
  .families h2 {
    margin-bottom: 30px;
  }

  .families .inner div {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .families .inner div:last-child {
    margin-right: 0;
  }

  .families .inner .famImageA {
    position: relative;
    display: block;
    width: 100%;
    height: 379px;
    margin-bottom: 30px;
  }

  /*vehicles*/
  .vehicles h2 {
    margin-bottom: 30px;
  }

  .vehicles .vehiModel {
    float: none;
    width: 100%;
    margin-right: 0;
    margin-bottom: 50px;
  }

  .vehicles .vehiModel p {
    margin-bottom: 15px;
  }

  /*explore*/
  .explore h2 {
    margin-bottom: 30px;
  }

  .explore p {
    font-size: 13px;
  }

  .explore .exDetail {
    float: none;
    width: 100%;
    margin-right: 0;
    padding-bottom: 50px;
  }

  /*find*/
  .find {
    position: relative;
    width: 100%;
    height: 500px;
    background: url(../_img/find.jpg) no-repeat top right / auto 100%;
  }

  .find .text {
    position: relative;
    top: 50%;
    left: 0;
    transform: translate(0);
    width: 100%;
    height: 220px;
    padding: 20px 0 0;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
  }

  .find .text h2 {
    line-height: 1.1;
    font-size: 30px;
    color: #fff;
    margin-bottom: 0;
  }

  .find .text p {
    display: none;
  }

  .find .text a {
    background: #fff;
    border-color: #fff;
    color: #222;
  }

  .find .text a:hover {
    background: #444;
    border-color: #222;
    color: #fff;
  }

  /*build*/
  .build {
    width: 100%;
    padding: 60px 0 0;
  }

  .build .inner .buildList {
    float: left;
    width: 100%;
    margin: 0 0 30px 0px;
    padding: inherit;
  }

  .build .inner .buildList strong {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .build .inner .buildList a {
    margin-bottom: 10px;
    font-size: 15px;
  }

  .build .inner .buildList a:before {
    margin-right: 10px;
    font-size: 15px;
  }

  /*iconArea*/
  .iconArea {
    width: 100%;
    padding: 60px 0;
  }

  .iconArea .inner .iconList {
    float: none;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-top: 40px;
    margin: 0;
  }

  .iconArea .inner .iconList:last-child {
    padding-bottom: 30px;
  }

  .iconArea .inner .iconList+.iconList {
    border-left: 0;
  }

  .iconArea .inner .iconList img {
    float: left;
    height: 45px;
    margin-right: 20px;
  }

  .iconArea .inner .iconList strong {
    line-height: 5px;
    padding: 0;
  }

  .iconArea .inner .iconList p {
    display: none;
  }

  /*footer*/
  footer {
    width: 100%;
  }

  footer p {
    font-size: 15px;
  }

  .footYear {
    display: none;
  }

  .footMenu {
    padding: 60px 0;
  }

  .footMenu .inner>ul>li {
    display: none;
  }

  .footMenu .inner .sns {
    display: block;
    width: 100%;
    font-size: 20px;
  }

  .footMenu .inner .sns>ul {
    margin-top: 15px;
  }

  .footInter {
    display: none;
  }

  .footCopy {
    display: none;
  }
}